.playkit-ads-cover {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.playkit-ads-container {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
